@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick&family=Zen+Maru+Gothic&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Zen Maru Gothic", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif !important;
  font-weight: 400;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 10px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper2 {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  width: 50% !important;
  height: 100% !important;
  /* transform: translateY(-50%) translateX(10px) !important; */
  position: absolute;
  top: 22px;
}

.swiper-button-prev::after {
  color: black;
  opacity: 0;
  font-size: 30px;
  height: 100%;
}

.swiper-button-next {
  width: 50% !important;
  height: 100% !important;
  transform: translateX(10px) !important;
  position: absolute;
  top: 22px;
}

.swiper-button-next::after {
  color: black;
  opacity: 0;
  font-size: 30px;
  height: 100%;
}

.poemSwiper {
  height: 160px !important;
}
